*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #222;
  --antique-white: #f7eed0;

  --dark: var(--black);
  --light: var(--antique-white);
  --p1: #33aa88;
  --p2: #aa3333;
}

.theme-dark {
  --light: var(--black);
  --dark: var(--antique-white);
}

body {
  background-color: var(--light);
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  padding-left: 0;
}

button {
  padding: 0;
  border: 0;
}

.board {
  --board-grid-small: 40px;
  --board-grid--large: 40px;

  display: grid;
  grid-template-columns: repeat(6, var(--board-grid--large) var(--board-grid-small)) var(--board-grid--large);
  grid-template-rows: repeat(6, var(--board-grid--large) var(--board-grid-small)) var(--board-grid--large);
}

.dot {
  background-color: var(--dark);
  border-radius: 5px;
}

.dot.checked-p1 {
  background-color: var(--p1);
}

.dot.checked-p2 {
  background-color: var(--p2);
}

.line {
  position: relative;
}

.line::before {
  content: '';
  display: block;
  background-color: var(--dark);
  position: absolute;
}

.line-x::before {
  height: 5px;
  top: 50%;
  left: 0;
  width: 100%;
}

.line-y::before {
  height: 100%;
  left: 50%;
  top: 0;
  width: 5px;
}

.game {
  display: flex;
  align-items: center;
}

.piece {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--dark);
}

.piece.p1 {
  background-color: var(--p1);
}

.piece.p2 {
  background-color: var(--p2);
}

.remaining-pieces .piece {
  margin-bottom: 10px;
}

.game .board {
  margin: 0 30px;
}